<!--?xml version="1.0" encoding="UTF-8"?-->

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">iyfo818oh</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/enchanteddb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>

        <mapping class="main.java.dto.MovieViewed"></mapping>

    </session-factory>
</hibernate-configuration>
